body{
    background-image: url("háttérkép1.jpg");
    background-size: cover;
}
.kiskepek{
    width: 100%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    margin-top: 10px;
    margin-bottom: 10px;
}
.container{
    background-repeat: no-repeat;
    background-size: auto;
    box-shadow: 5px 10px black;
}
.header{
    color: white; 
    height: 350px;
    background-image: url("hódoltság.jpg");
    background-size: cover;
    font-size: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: right;
    padding-right: 50px;
    padding-top: 100px;
    text-shadow: 5px 5px 10px black;
}