body{
    background-image: url("háttérkép1.jpg");
    background-size: cover;
    border-radius: 8px ;
    background-attachment: fixed;
}
.kiskepek{
    width: 100%;
    margin: auto;
    box-shadow: 5px 5px 8px black;
    margin-top: 10px;
    margin-bottom: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.kiskepek:hover{
    margin-right: 5px;
    width: 102%;
    display: block;
    transition: .5s ease-in;
    transition: .5s ease-out;
    box-shadow: 10px 10px 10px black;
}
.container{
    background-repeat: no-repeat;
    background-size: auto;
    /*box-shadow: 5px 10px black;*/
    background-color: rgba(0, 0, 0, 0.45);
    border-bottom-left-radius: 15px;
}
.header{
    color: white; 
    height: 500px;
    background-image: url("hódoltság.png");
    background-size: cover;
    font-size: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: right;
    padding-right: 50px;
    padding-top: 100px;
    text-shadow: 5px 5px 10px black;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.szoveg{
    background-color: rgb(255, 255, 255, 0.85);
    float: auto;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    position: sticky;
}
footer{
    text-align: center;
    color: white;
    padding-top: 10px;
}
.fej{
    color: white; 
    height: 500px;
    background-image: url("luxemburgifej.jpg");
    background-size: cover;
    font-size: 70px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: left;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 100px;
    text-shadow: 5px 5px 10px black;

}
.fej1{
    color: white; 
    height: 500px;
    background-image: url("hunyadi.png");
    background-size: cover;
    font-size: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: left;
    padding-right: 50px;
    padding-top: 100px;
    text-shadow: 5px 5px 10px black;
}
.fej2{
    color: white; 
    height: 500px;
    background-image: url("hunyadi_torok.jpg");
    background-size: cover;
    font-size: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: left;
    padding-right: 50px;
    padding-top: 100px;
    text-shadow: 5px 5px 10px black;
}
.fej3{
    color: white; 
    height: 500px;
    background-image: url("luxi_harcok.jpg");
    box-shadow: 5px 5px 8px black;
    background-size: cover;
    font-size: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: left;
    padding-right: auto;
    margin: auto;
    padding-top: 100px;
    text-shadow: 5px 5px 10px black;
}
.mainsz{
    text-align: left;
    margin: 15px;
    padding: auto;
}
p{
    text-align: center;
}
.szoveg1{
    color: white;
    text-align: left;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 20px;
}
table{
    margin: auto;
    padding: auto;
    background-color: rgba(0, 0, 0, 0.55);
    overflow: hidden;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    position: relative;
}
th, td {
    overflow: hidden;
}
.cim1{
    color: white;
    text-align: center;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: white;
}
.mellek { 
    position: absolute;
    left: 0;
    margin-top: 35px;
    bottom: auto;
    height: 5%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    /*position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
    height: 5%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;*/
}
.button {
    border: black;
    background-color: rgb(255, 255, 255);; color: black;
    box-shadow: 4px 4px 10px;
    text-align: center;
    text-decoration: black;
    font-size: 16px;
    margin: 0px -12px;
    cursor: pointer;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    float: right;
}
.button:hover{
    left: 50%;
    margin-left: -240px;
    font-size: 22px;
    transition: .5s ease-in;
    transition: .5s ease-out;
    box-shadow: 10px 10px 10px black;
}
.alap{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.button1 {
    border: black;
    background-color: rgba(255, 255, 255, 1);; color: black;
    box-shadow: 4px 4px 10px;
    text-align: center;
    text-decoration: black;
    font-size: 16px;
    margin: -15px -12px;
    cursor: pointer;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    float: right;
    overflow: auto;
}
.button1:hover{
    left: 50%;
    margin-left: -240px;
    font-size: 22px;
    transition: .5s ease-in;
    transition: .5s ease-out;
    box-shadow: 10px 10px 10px black;
}
/*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_modal*/